#home {
  background: #ffc107;
  color: #fff;
}

.box {
  padding: 60px 0;
  border-bottom: 1p solid #e5e5e5;
}

.signin:hover {
  background-color: #ffc107;
  border-color: #212529;
}

.btnexpand {
  color: rgba(255,255,255,.55);
  background: none;
  border-style: none;

  padding-top: 0.5rem;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

footer {
  padding: 25px 0 20px 0;

  position: relative;
}